<div class="container-fluid ">
	<div class="row">
		<div class="col-xs-5 col-lg-8 offset-lg-4 naslov">
			CURRENCY CONVERTOR
		</div>
	</div>
	<div class="row">
        	<div class="btn-group col-xs-3 offset-xs-2 col-lg-3 offset-lg-3  filter1">	
	        		<button type="button" class="btn btn-default dropdown-toggle select-option-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	           			Valute
	          		</button>
			        <div class="dropdown-menu text-dropdown-modal">
			        	<a *ngFor="let currency of currency1" class="dropdown-item dropdown "  (click)="getCurrencyFirst(currency.name)">{{currency.name}}</a>
			        </div>
	        	
				<!-- <select class="select-option-1">
					<option *ngFor="let currency of currency1" (click)="getCurrency(currency.name)">{{currency.name}}</option>
				</select> -->
				<input type="text" class="form-control first-input-1"  [(ngModel)]="vrednost1" [ngModelOptions]="{standalone: true}">
			</div>
			<div class="btn-group offset-xs-4 col-lg-1 picture">
				<img src="../../assets/image/swap.svg" (click)="change(vrednost1)">
			</div>
			<div class="btn-group col-lg-3 filter2">
				<!-- <select class="select-option-1">
					<option *ngFor="let currency of currency2" (click)="getCurrency(currency.name)">{{currency.name}}</option>
				</select> -->

				<button type="button" class="btn btn-default dropdown-toggle select-option-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	           			Valute
	          		</button>
			        <div class="dropdown-menu text-dropdown-modal">
			        	<a *ngFor="let currency of currency2" class="dropdown-item dropdown " (click)="getCurrencySecond(currency.name)">{{currency.name}}</a>
			        </div>
			       <input type="text" class="form-control first-input-1"  [(ngModel)]="vrednost2" [ngModelOptions]="{standalone: true}">

			</div>
		</div>
	<div class="row">
		<div class=" col-lg-2 offset-lg-5  button">
			<button type="button" class="btn btn-primary button-reset" (click)="reset(vrednost1,vrednost2)">Reset</button>
		</div>
	</div>
</div>









<!-- <div class="container-fluid">
	<div class="row">
		<div class="offset-xs-3 col-xs-11 offset-lg-4 col-lg-8 naslov">
			CURRENCY CONVERTOR
		</div>
	</div>
	<div class="row">
		<div>
					
		</div>
	</div>
	<div class="row">
		<div>
				
		</div>
	</div>
</div> -->


