.naslov{
	margin-top: 10%;
	color: white;
	font-size: 32pt;
	padding-left: 107px;
	padding-bottom: 50px;
}
.select-input-together{
	margin-top: 5%;
	padding: 0px;
	padding-left: 5%;
}
.select-option-1{
	font-size: 12pt;
	cursor: pointer;
	border-color: gray;
	border-radius: 4%;
	margin-bottom: 2px;
}
.first-input-1{
	font-size: 13pt;
	width: 190px;
	border:none;
	border-radius: 4%;
	text-align: right;
}
input:focus{ 
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 40px #71e2ff;
}
.picture{
	padding-right: 190px;
}
.button-reset{
	margin-top:70%;
	font-size: 13pt;
	cursor: pointer;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 7px;
	padding-top:7px;
	background-color: #2C89A0;
	border: none;
}
.button{
	padding: 0px;
	padding-left: 107px;
}
.filter2{
	padding-left: 0px;
}


/*.filter1{
  color:white;
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size:10pt;
  position: absolute;
}
.filter1 button{
  font-size:20px;
  font-weight: bold;
}
.filter2{
  color:white;
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size:28pt;
}*/